* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.solutions {
    background: #F9F9FA;
}

.solutions__title {
    padding-top: 80px;
}

.solutions__header {
    display: block;
    margin: 0px auto;
    color:  #110C11;
    text-align: center;
    font-size: 46px;
    margin-top: 22px;
    max-width: 845px;
}

@media (max-width: 960px) {
    .solutions__header {
        font-size: 34px;
    }
} 

@media (max-width: 720px) {
    .solutions__header {
        font-size: 28px;
    }
} 

@media (max-width: 540px) {
    .solutions__header {
        font-size: 24px;
    }
} 

.solutions__subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #4343FF 50%, #F96D6D 55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.solutions__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px ;
    padding-bottom: 80px;
    margin-left: 105px;
    margin-right: 70px;  
}

.solutions__card-development {
    width: 387px;
    min-height: 225px;
    padding: 22px;
    margin-top: 35px ;
    margin-right: 35px;
    background: #FFF;
}

.solutions__card-header {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 22px;
}

.solutions__card-descr {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    margin-top: 28px;
}

.amway__cards {
    display: grid;
    gap: 15px;
    /* grid-template-columns: 515px 270px 270px; */
    grid-template-columns: 515px repeat(auto-fit, minmax(130px, 270px));
    grid-template-rows: 196px 191px;
    margin: 60px 135px;
}

.amway__card__header {
    margin-right: 45px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.amway__card__income {
    background: #F7F7F7;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.amway__card__income-img, .amway__card__sale-img, .amway__card__business-img {
    display: block;
    margin: 0 auto;
    margin-top: 22px;
}

.amway__card__business-img {
    margin-top: 100px;
}

.amway__card__income-subtitle, .amway__card__sale-subtitle, .amway__card__business-subtitle {
    color: #56565A;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 179px;
}

.amway__card__business-subtitle {
    max-width: 226px;
}

.amway__card__income-line, .amway__card__sale-line, .amway__card__business-line {
    width: 170px;
    height: 1px;
    background-color:#E5E5E5;
    margin: 0 auto;
    margin-top: 15px;
}

.amway__card__income-descr, .amway__card__sale-descr, .amway__card__business-descr {
    color: #56565A;
    text-align: center;
    font-size: 14px;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 15px;
}

.amway__card__sale {
    background: #F7F7F7;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.amway__card__business {
    background: #F7F7F7;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.amway__cards__header-subtitle {
    margin-top: 125px;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    color: #56565A;
}

.amway__card__header-descr {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin-top: 15px;
}

.amway__card__header-btn-frst, .amway__card__header-btn-scnd {
    width: 142px;
    height: 44px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #0A467E;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.amway__card__header-btn-scnd {
    width: 131px;
    margin-right: 0;
}

