* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.solutions {
    background: #F9F9FA;
}

.solutions__title {
    padding-top: 80px;
}

.solutions__header {
    display: block;
    margin: 0px auto;
    color:  #110C11;
    text-align: center;
    font-size: 46px;
    margin-top: 22px;
    padding-left: 299px;
    padding-right: 296px;
}

@media (max-width: 880px) {
    .solutions__header {
        font-size: 34px;
        padding-left: 220px;
        padding-right: 220px;
    }
} 

@media (max-width: 600px) {
    .solutions__header {
        font-size: 28px;
        padding-left: 180px;
        padding-right: 180px;
    }
} 

@media (max-width: 500px) {
    .solutions__header {
        font-size: 24px;
        padding-left: 120px;
        padding-right: 120px;
    }
} 

@media (max-width: 360px) {
    .solutions__header {
        font-size: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }
} 

.solutions__subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #4343FF 50%, #F96D6D 55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px ;
    padding-bottom: 80px;
    margin-left: 105px;
    margin-right: 70px;  
}

.container__development {
    width: 387px;
    height: 225px;
    padding: 22px;
    margin-top: 35px ;
    margin-right: 35px;
    background: #FFF;
}

.container__header {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 22px;
}

.container__descr {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    margin-top: 28px;
}
